mixin section_fizz
	section.section_fizz
		.section_fizz__grid 
			.section_fizz__item.section_fizz__item_mod--1
			.section_fizz__item.section_fizz__item_mod--2
				a.section_fizz__link(href="#") HOE | AUDIOGRAMS
			.section_fizz__item.section_fizz__item_mod--3
			.section_fizz__item.section_fizz__item_mod--4 
				a.section_fizz__link_fizz.section__title__link(href="#") 
					h2.section_fizz__title.section__title F1ZZ | BRANDING + ANIMATION