mixin section_top
	section.section_top 
		.section_top__content 
			span.section_top__were We’re a
			h1.section_top__title wow 
			span.section_top__factory Factory
			a.section_top__link.section__title__link(href="#") 
				h2.section_top__sub_title.section__title NEW BALANCE SHOES | VIDEO + ART DIRECTION