mixin section_mit
	section.section_mit
		.section_mit__inner 
			.section_mit__item.section_mit__item_mod--1
				a.section_mit__link(href="#") 
					span.section_mit__about DISCONNECT
			.section_mit__item.section_mit__item_mod--2
				a.section_mit__link(href="#") 
					span.section_mit__about MIT
			.section_mit__item.section_mit__item_mod--3 
				a.section_mit__link(href="#") 
					span.section_mit__about FABRK