mixin section_motion
	section.section_motion
		.section_motion__nimble
			span.section_motion__text Your nimble team is waiting!
			span.section_motion__num 339.229.0066
		a.section_motion__link.section__title__link(href="#") 
			h2.section_motion__title.section__title PAYPAL | EDITORIAL + MOTION	
		a.link__video(href="#")
